<!DOCTYPE html>
<html>
<head>
    <title>Tradebyte Seating Plan</title>

<style>
.f3-desk {
  fill:#CE9C68;
  stroke-width:1;
  stroke:#8A8888
}
.f3-kitchen {
  fill:#5F458A;
}
.f3-foosball {
  fill:#3e8857;
}
.red-stuff {
  fill:#8A251F;
}
.blue-stuff {
  fill:#0E58DB;
}
.gray-stuff {
  fill:#706D6D;
}
.yellow-stuff {
  fill:#C2D703;
}
.green-stuff {
  fill:#478512;
}
.f3-reception {
  stroke:#88543E;
  stroke-width:4;
}


</style>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
</head>
<body>

<h1>TB Seating Plan</h1>



<svg width="100%" height="310" style="background:#DBDBDB;border:1px solid #787878;">
  <line x1="50%" y1="0%" x2="50%" y2="40%" style="stroke:#939393;stroke-width:4" />
  <line x1="50%" y1="100%" x2="50%" y2="60%" style="stroke:#939393;stroke-width:4" />

  <!-- left side -->
  <line x1="55%" y1="100%" x2="55%" y2="60%" style="stroke:#C0BDBD;stroke-width:2"/>
  <line x1="60%" y1="100%" x2="60%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="65%" y1="100%" x2="65%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="70%" y1="100%" x2="70%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="75%" y1="100%" x2="75%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />

  <line x1="82%" y1="100%" x2="82%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="87%" y1="100%" x2="87%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="92%" y1="100%" x2="92%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />

  <line x1="94%" y1="40%" x2="94%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />

  <!--internal walls & doors -->
  <line x1="50%" y1="60%" x2="53.5%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="55%" y1="60%" x2="58.5%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="61.5%" y1="60%" x2="65%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="65%" y1="60%" x2="68.5%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="71.5%" y1="60%" x2="75%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="82%" y1="60%" x2="85.5%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="88.5%" y1="60%" x2="92%" y2="60%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="88.5%" y1="40%" x2="92%" y2="40%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="94%" y1="50%" x2="100%" y2="50%" style="stroke:#C0BDBD;stroke-width:2" />
  <!--doors-->
  <line x1="53.5%" y1="66%" x2="55%" y2="60%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="59%" y1="66%" x2="60%" y2="60%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="61%" y1="66%" x2="60%" y2="60%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="69%" y1="66%" x2="70%" y2="60%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="71%" y1="66%" x2="70%" y2="60%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="86%" y1="66%" x2="87%" y2="60%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="88%" y1="66%" x2="87%" y2="60%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="93.5%" y1="66%" x2="92%" y2="60%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="88%" y1="34%" x2="87%" y2="40%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="93.5%" y1="34%" x2="92%" y2="40%" style="stroke:#C0BDBD;stroke-width:3" />
  <line x1="50%" y1="60%" x2="52%" y2="42%" style="stroke:#C0BDBD;stroke-width:3" />

  <!-- desks -->
  <rect class="f3-desk" id="1" x="51%" y="78%" width="1.5%" height="15%" title="Testing here" />
  <rect class="f3-desk" id="2" x="52.5%" y="78%" width="1.5%" height="15%"/>

  <rect class="f3-desk" id="3" x="56%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="4" x="57.5%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="5" x="56%" y="83%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="6" x="57.5%" y="83%" width="1.5%" height="15%"/>

  <rect class="f3-desk" id="3" x="61%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="4" x="62.5%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="5" x="61%" y="83%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="6" x="62.5%" y="83%" width="1.5%" height="15%"/>

  <rect class="f3-desk" id="3" x="66%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="4" x="67.5%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="5" x="66%" y="83%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="6" x="67.5%" y="83%" width="1.5%" height="15%"/>

  <rect class="f3-desk" id="3" x="71%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="4" x="72.5%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="5" x="71%" y="83%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="6" x="72.5%" y="83%" width="1.5%" height="15%"/>

  <rect class="f3-desk" id="3" x="83%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="4" x="84.5%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="5" x="83%" y="83%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="6" x="84.5%" y="83%" width="1.5%" height="15%"/>

  <rect class="f3-desk" id="3" x="88%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="4" x="89.5%" y="68%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="5" x="88%" y="83%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="6" x="89.5%" y="83%" width="1.5%" height="15%"/>

  <rect class="f3-desk" id="3" x="95%" y="60%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="4" x="96.5%" y="60%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="5" x="95%" y="75%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="6" x="96.5%" y="75%" width="1.5%" height="15%"/>

  <rect class="f3-desk" id="3" x="95%" y="10%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="4" x="96.5%" y="10%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="5" x="95%" y="25%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="6" x="96.5%" y="25%" width="1.5%" height="15%"/>

  <rect class="f3-desk" id="3" x="88%" y="2%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="4" x="89.5%" y="2%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="5" x="88%" y="17%" width="1.5%" height="15%"/>
  <rect class="f3-desk" id="6" x="89.5%" y="17%" width="1.5%" height="15%"/>


  <!-- social area -->
  <line x1="58%" y1="0%" x2="58%" y2="28%" style="stroke:#939393;stroke-width:2"/>
  <line x1="69%" y1="0%" x2="69%" y2="28%" style="stroke:#939393;stroke-width:2"/>

  <rect class="gray-stuff" x="58.2%" y="3%" width="1%" height="6%"/>
  <rect class="green-stuff" x="58.2%" y="10%" width="1%" height="6%"/>
  <rect class="red-stuff" x="58.2%" y="17%" width="1%" height="6%"/>
  <rect class="red-stuff" x="67.8%" y="3%" width="1%" height="6%"/>
  <rect class="green-stuff" x="67.8%" y="10%" width="1%" height="6%"/>
  <rect class="gray-stuff" x="67.8%" y="17%" width="1%" height="6%"/>

  <rect class="red-stuff" x="61%" y="3%" width="1%" height="6%"/>
  <rect class="green-stuff" x="62.5%" y="3%" width="1%" height="6%"/>
  <rect class="gray-stuff" x="64%" y="3%" width="1%" height="6%"/>
  <rect class="yellow-stuff" x="65.5%" y="3%" width="1%" height="6%"/>
  <rect class="f3-desk gray-stuff" id="social-desk" x="51%" y="6%" width="1.5%" height="15%"/>

  <rect class="f3-kitchen" x="73%" y="1%" width="10%" height="9%"/>
  <rect class="f3-foosball" x="69.5%" y="9%" width="2%" height="9%"/>

  <rect class="red-stuff" x="86%" y="3%" width="1%" height="8%"/>
  <rect class="gray-stuff" x="86%" y="12%" width="1%" height="8%"/>
  <rect class="green-stuff" x="86%" y="21%" width="1%" height="8%"/>

  <line class="f3-reception" x1="72%" y1="30%" x2="84%" y2="30%"/>

  <!--stair case & entry -->
  <line x1="75%" y1="70%" x2="77%" y2="70%" style="stroke:#939393;stroke-width:4" />
  <line x1="80%" y1="70%" x2="82%" y2="70%" style="stroke:#939393;stroke-width:4" />
  <line x1="78.5%" y1="85%" x2="78.5%" y2="100%" style="stroke:#939393;stroke-width:10" />
  <line x1="75%" y1="85%" x2="82%" y2="85%" style="stroke:#C0BDBD;stroke-width:1" />
  <line x1="75%" y1="88%" x2="82%" y2="88%" style="stroke:#C0BDBD;stroke-width:1" />
  <line x1="75%" y1="91%" x2="82%" y2="91%" style="stroke:#C0BDBD;stroke-width:1" />
  <line x1="75%" y1="94%" x2="82%" y2="94%" style="stroke:#C0BDBD;stroke-width:1" />
  <line x1="75%" y1="97%" x2="82%" y2="97%" style="stroke:#C0BDBD;stroke-width:1" />

  <!-- main doors -->
  <line x1="77%" y1="70%" x2="79.5%" y2="78%" style="stroke:#C0BDBD;stroke-width:3" />


  <!-- Right side -->
  <line x1="92%" y1="0%" x2="92%" y2="40%" style="stroke:#C0BDBD;stroke-width:2" />
  <line x1="87%" y1="0%" x2="87%" y2="40%" style="stroke:#C0BDBD;stroke-width:2" />
</svg>


 <script>
        $(document).ready(function() {
            $('.f3-desk').tooltipster();
        });
    </script>

</body>